*~
*.lo
*.mode1v3
*.o
*.pbxuser
*.xcworkspace
.DS_Store
.deps
.dirstamp
/ABOUT-NLS
/GPATH
/GRTAGS
/GTAGS
/INSTALL
/Makefile
/Makefile.in
/build-aux/git-package-version
/libtool
/ldap-utils-*.tar.*
/ldap-utils-*.zip
a.out
aclocal.m4
autom4te.cache
autoscan.log
config.h
config.h.in
config.log
config.status
configure
configure.scan
stamp-h1
xcuserdata
